<!doctype html>
<html lang="en" ng-app>

<head>
  <title>RecurChat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="container" ng-controller="ChatController">
    <!-- Existing HTML content -->
  </div>

  <!-- Importing Scripts -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/angular.min.js"></script>

  <!-- Import Angular Controller after Angular library -->
  <script src="/controller/ChatController.js"></script>
</body>

</html>
