<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/rooms.css">
</head>

<body>
    <div class="container" ng-controller="RoomsController">
        <div class="row">
            <div class="span12">
                <ul class="nav nav-list well">
                    <li class="nav-header">Rooms</li>
                    <!-- <li ng-repeat="room in catalogue" ng-bind="room"> -->
                    <li>Room1</li>
                    <li>Room2</li>
                    <li>Room3</li>
                    <!-- </li> -->
                </ul>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
</body>

</html>